@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');
/* body {
    background-color: #0b238c;
    padding: 0;
    margin: 0;
    


} */
/* 
.main-container {
    color: white;
}

.header-container {
    margin-top: 55px;
}

.body-container {
    width: 700px;
}

.body-container h1 {
    text-align: center;
    font-size: 36px;
    color: white;
}

.body-container p{
    font-size: 23px;
    text-align: center;
    margin: 0 100px;
    line-height: 32px;
    color: #c5c5c5;
}

.header-container {
    display: flex;
    flex-direction: row;
}

.image-container {
    width: 500px;
    height: 400px;
    background-image: url('./images/Captura.PNG');
    background-size: cover;
    background-position: center;

    float: left;
    position: relative; 
    z-index: 2;
}

.options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1000px;
    float: left;
    position: relative;  
    z-index: 2;
} */

.button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #999;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
.button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #051453;
    border-radius: 10rem;
    z-index: -2;
}
.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #008fb3;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}
.button:hover {
    color: #fff;
}
.button:hover:before {
    width: 100%;
}

* {
  text-decoration: none;
  font-size: 20px;
}

.options-container {
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  color: #777;
}

span {
  display: block;
  margin-top: 2rem;
  font-size: 0.7rem;
  color: #777;
}

span a {
  font-size: 0.7rem;
  color: #999;
  text-decoration: underline;
}

body {
    background-color: #0b238c;
    padding: 0;
    margin: 0;
}

.main-container {
  width: 375px;
  margin: 0 auto;
}

.header-container {
  width: 100%;
  
}

.body-container {
  width: 100%;
  color: white;
  height: 30%;
  text-align: center;
}

.body-container h1 {
  font-size: 44px;
  margin: 0 auto;
  
  margin-top: 32px;
  font-family: 'Lexend', sans-serif;
}

.body-container p {
  font-size: 25px;
  margin: 30px 33px 0 33px;
  font-family: 'Mulish', sans-serif;
}

.options-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 230px;
  margin-top: 32px;
  margin-bottom: 44px;
  width: 50%;
  font-family: 'Hind', sans-serif;
}